.card {
    width: 200px;
    height: 200px;
    padding: 15px;
    border: solid 1px palevioletred;
}
.del {
    width: 50px;
    height: 50px;
    background-color: chocolate;
    cursor: pointer;
}